*.war
*.ear
*.class
*.ucls
*.useq

# eclipse specific git ignore
*.pydevproject
.project
.metadata
.metadata/**
.metadata/**/*
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
target/

ZKs/**
ZKs/**/*

Servers
Servers/**
Servers/**/*
PostpaidRegistration/src/main/java/com/xl/prioritas/util/RestClientSecurityTest.java

**/.idea/
*.iml