.main-logo {
  background: url(../img/logo-home.png) no-repeat bottom center;
  margin: 10px 0 0;
  height: 55px;
  width: 150px;
  display: inline-block;
  background-size: auto 100%;
  background-position: 0 0;
}